body {
  background: black;
}

.clock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #17d4fe;
  font-size: 80px;
  font-family: Orbitron;
  letter-spacing: 7px;
}
